@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

:root{
    --primary: #FFF7E8;
    --yellow: #F3B848;
    --red: #D85841;
    --green: #1C4931;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color: var(--primary);
    font-size: 16px;
}

header, section{ display: grid; }

header{
    grid-template-columns: 1fr 1fr 2fr 1fr 0.5fr;
    padding: 1.5rem 3rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
}

a{
    color: black;
    text-decoration: none;
}

menu{
    display: flex;
    flex-direction: column;
}

menu a{font-weight: 600;}

menu a.split{ max-width: 9rem;}

section{
    grid-template-columns: 1.5fr 1fr 1fr;
}

.title, .side-content{
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

.title h1{ 
    font-size: 4rem;
    font-weight: 800;
}

.subtitle{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.11);
}

.subtitle a{ font-weight: 700;}


.image{
    background:linear-gradient(to left, var(--yellow), var(--yellow)) no-repeat center 5rem;
}

.side-content h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.signature{
    font-weight: 700;
    margin-top: 1rem;
}

.featured{
    background-color: var(--red);
    color: white;
    display: flex;
    padding: 5rem 3rem;
}

.image-featured-wrapper img{ 
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2rem;
    padding: 1rem;
    border: 0.2rem solid white;
}

.register, .view-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register p{
    max-width: 10rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}

.view-all{
    background-color: var(--green);
    color: white;
}

.wrapper{
    border: 0.01rem solid rgba(255, 255, 255, 0.342);
    padding: 1rem;
}

.view-all h2{ font-size: 3rem;}

.view-all p{
    max-width: 12rem;
    margin: 0.5rem auto;
    font-weight: 400;
    font-size: 1.1rem;
}

.view-all a{
    display: inline-block;
    color: white;
    margin-top: 1rem;
}


/* width */
::-webkit-scrollbar {
    width: 0.4rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #D85841; 
}
