@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;900&display=swap');

:root{
  --primary: #212123;
  --secondary: #8D60D7;
  --accent: #C4C4C4;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  color: #fafafa;
  font-family: 'Noto Sans', sans-serif;  
  display: grid;
  grid-template-columns: 18vw 1fr;
}

button{
  color: #fafafa;
  font-family: 'Noto Sans', sans-serif;
  background-color: #8D60D7;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  white-space: nowrap;
  border: none;
}

aside{
  background-color: #191919;
  padding: 1rem 3rem;
}

main{min-height: 100vh;}

menu{ margin: 2rem 0;}

.nav-menu{
  color: #C4C4C4;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.nav-menu p{ margin-left: 1rem;}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.profile-pic{
  width: 2rem;
  aspect-ratio: 1;
}

.profile-pic img{ width: 100%; border-radius: 50%;}

.right-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  margin-right: 1rem;
}
input{
  background-color: #363638;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  width: 20vw;
}

.hero{
  background: url('/assets/good-game-bg-cut.png'), url('./assets/bg-left.png');
  background-size: 60% auto, 80% 90%;
  background-position: -10rem bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  height: 90%;
}

.right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text h1{ 
  font-size: 3.5rem; 
  margin: 0.5rem 0;
}
.text span{ color: #8D60D7;}

.text p{
  margin-bottom: 2rem;
  color: var(--accent);
  font-size: 1.1rem;
}

.cards-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.card{ 
  display: flex;
  background-color: #28282A;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 0.7rem;
}

.card-image{
  width: 8rem;
  margin-right: 1rem;
}

.card-image img{ width: 100%;}

.card-body h3{ white-space: nowrap;}
.card-body p{
  margin: 0.4rem 0;
  color: var(--accent);
}

p.price{ color: #8D60D7; font-weight: 700;}